{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [
          ".ios.js",
          ".android.js",
          ".js",
          ".ts",
          ".tsx",
          ".json"
        ],
        "alias": {
          "src": "./src",
          "@assets": "./assets",
          "@api": "./src/api",
          "@const": "./src/const",
          "@context": "./src/context",
          "@css": "./src/css",
          "@dataLocal": "./src/dataLocal",
          "@element": "./src/element",
          "@HOC": "./src/HOC",
          "@hooks": "./src/hooks",
          "@images": "./src/images",
          "@language": "./src/language",
          "@libJS": "./src/libJS",
          "@logEventSystem":"./src/logEventSystem",
          "@navigation": "./src/navigation",
          "@permissions": "./src/permissions",
          "@redux": "./src/redux",
          "@resources": "./src/resources",
          "@screen": "./src/screen",
          "@security": "./src/security",
          "@services": "./src/services",
          "@servicesApp": "./src/servicesApp",
          "@util": "./src/util"
        }
      }
    ],
    [
      "module:react-native-dotenv"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}