<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativebase">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <!-- Xin quyền location -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Xin quyền camera ghi âm-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
   <!-- Xin quyền đọc ghi file ảnh -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:theme="@style/BootTheme"> <!-- Replace @style/AppTheme with @style/BootTheme -->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">       <!-- Add android:exported="true" -->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
        <!--Thêm đoạn này để cấu hình Map=> key này lấy từ projects: ReactNativeBase064 => AIzaSyCMoHPy6fRMcYWnTfij2S7qDnToDoYpcSE -->
        <!-- https://console.cloud.google.com/google/maps-apis/credentials?_ga=2.240730179.194905775.1651028131-1722950009.1651028131&project=reactnativebase-348506 -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCMoHPy6fRMcYWnTfij2S7qDnToDoYpcSE"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
